/* All styles for your header Components live here */
.header-container {
    display: flex;
    flex-wrap: nowrap;
    
}

.header-content {
    justify-content: flex-end;
    
}


.image-thumbnail img {
    width: 60px;

}

.header-title {
    /* border: 1px solid red; */
    font-size: 10px;
  
}

strong {
    font-size: 12px;
    color: grey;
}