/* All styles for your header Components live here */
.header-container {
    display: flex;
    flex-wrap: nowrap;
}

.header-content {
    align-content: flex-start;
   
    
}


.image-thumbnail img {
    width: 60px;
    

}

.header-title {
    /* border: 1px solid red; */
    font-size: 10px;
  
}

.header-title h1 {
    margin-top: 5px;
    font-size: 15px;
}

strong {
    font-size: 12px;
    color: grey;
}
